body,html
{
    background-color: #042653;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% vertical */
    align-items: center;
    align-content: center;
    font-size: 15px;
    animation: fadein 1.5s;
}

.menu
{
    height: 60px;
    width: 100%; /* LARGURA */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.botao
{
    color: #042653;
    border-style: none;
    background-color: white;
    font-size: 15px;
    height: 30px;
}

.botao:hover
{
    background-color: #042653;
    color: white;
}

.botao_selecionado
{
    color: #042653;
    border-style: none;
    background-color: #042653;
    color: white;
    font-size: 15px;
    height: 30px;
}

.titulo_recursos
{
    margin-top: 100px;
    color: silver;
    font-size: 50px;
    font-family: 'Inter';
    text-align: left;
}

.titulo
{
    margin-top: 10px;
    color: silver;
    font-size: 50px;
    font-family: 'Inter';
    text-align: center;
}

.conteudo
{
    margin-top: 30px; 
    width: 800px;
    margin-left: -400px;
    display: flex;
    flex-direction: column;
}

.paragrafos
{
    text-indent: 40px;
    text-align: justify;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 47em;
    margin-top: 10px;
}

#paragrafos_servico
{
    text-indent: 40px;
    text-align: center;
    width: 1200px;
}

.texto
{
    color: silver; 
    font-size: 28px;
}

#carrossel
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 540px;
}

#recursos_humanos
{
    background-color: yellow;
    width: 1000px;
    height: 500px;
}

.cadastro
{
    display: flex;
    flex-direction: column;
    color: silver;
    font-size: 20px;
}

.caixa_texto
{
    border-style: none;
    width: 250px;
    height: 40px;
    font-size: 20px;
}

.botao_contrato
{
    border-color: #5F9F9F;
    border-width: 3px;
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border-style: solid;
    font-size: 15px;
}

#texto
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}

a
{
    font-style: none;
    color: #0B06FF;
}

#caixa_login
{
    margin-top: 10px;
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.botao_cadastro
{
    font-size: 20px;
    border-radius: 50px;
    width: 250px;
    height: 50px;
}